.background {
  padding-top: 20px;
  .time-point {
    padding: 0 8px 12px;
    .title {
      padding: 0 0 4px 0;
      display: inline-block;
    }
    .hexagon {
      clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
      background-image: url("../../../img/backgrounds/my background/hexigon background.png");
      background-position: top;
      background-size: cover;
      background-color: #c2aada;
      color: white;
      position: relative;
      max-width: 250px;
      max-height: 216.5px;
      width: 50vw;
      height: 43.3vw;
      margin: 0 auto 6px auto;
      .text {
        direction: rtl;
        white-space: pre-wrap;
        position: relative;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        padding: 12px 10px;
        margin: 0px 28px;
      }
    }
    .description {
      text-align: right;
      direction: rtl;
      white-space: pre-wrap;
      width: 70vw;
      max-width: 450px;
      margin: 0 auto;
      background-color: #d8d4d7;
      padding: 3px 6px;
      border-radius: 4px;
    }
  }
}

// &:before,
// &:after {
//   @include pseudo;
//   left: 0;
//   width: 50%;
//   border-left: 50px solid transparent;
//   border-right: 50px solid transparent;
// }
// &:before {
//   bottom: 50%;
//   border-bottom: 86.6px solid #64c7cc;
// }
// &:after {
//   top: 50%;
//   border-top: 86.6px solid #64c7cc;
// }
