.knowledge {
  background-color: #262020c9;
  padding: 100px 0;
  .fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    max-width: 800px;
    padding: 28px 10px;
    margin: 0 auto;
    border-radius: 4px;
    .field {
      padding: 10px;
      background: linear-gradient(#faefd6, #c8b45f);
      font-size: 1.2rem;
      display: grid;
      grid-template-rows: 1.5fr repeat(2, 1fr);
      h3 {
        text-decoration: underline;
      }
    }
  }
}
