/************************** Tablet and Desktop **************************/

@media (min-width: 64px) and (max-width: 279px) {
  html {
    font-size: 10px;
  }
  .background {
    font-size: 8px;
  }
}
@media (min-width: 280px) and (max-width: 349px) {
  html {
    font-size: 12px;
  }
  .background {
    font-size: 12px;
  }
}

@media (min-width: 350px) and (max-width: 400px) {
  html {
    font-size: 14px;
  }
  .background {
    font-size: 16px;
  }
}

@media (min-width: 500px) {
  
}

@media (min-width: 768px) {
  .my-apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 10px;
    margin: 0 auto;
    .my-app{
      min-height: 360px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  // .social-networks {
  //   .networks {
  //     .network {
  //       max-width: 35%;
  //     }
  //   }
  // }
}

@media (min-width: 1024px) {
  .background {
    .time-points {
      display: flex;
      justify-content: space-evenly;
      direction: rtl;
      max-width: 1540px;
      margin: 0 auto;
      .time-point {
        width: 33%;
      }
    }
  }
  .social-networks {
    .networks {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      max-width: 1540px;
      margin: 0 auto;
      .network {
      .net-icon {
        a {
          img {
            padding: 4px 6px;
              border-bottom: none;
          }
          &:hover {
            img {
              padding: 4px 6px 2px;
              border-bottom: 2px solid #539dff;
            }
          }
        }
      }
    }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1539px) {
 
}

@media (min-width: 1540px) {
  
}

@media (min-width: 1024px) and (max-width: 1699px) {
  html {
    font-size: 18px;
  }
  .my-apps {
    max-width: 1344px;
  }
}

@media (min-width: 1700px) and (max-width: 1919px) {
  html {
    font-size: 20px;
  }
  .my-apps {
    max-width: 1700px;
  }
}
@media (min-width: 1920px) and (max-width: 2399px) {
  html {
    font-size: 22px;
  }
  .my-apps {
    max-width: 1820px;
  }
}
@media (min-width: 2400px) {
  html {
    font-size: 24px;
  }
  .my-apps {
    max-width: 1820px;
  }
}
