.footer {
  background-color: #5e5e5e;
  color: white;
  min-height: 250px;
  .chapters {
    padding: 25px 20px 15px;
    font-size: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 600px;
    margin: 0 auto;
    .chapter {
      display: grid;
      grid-template-rows: 1.5fr repeat(3, 1fr);
      span{
        padding: 0 0 3px;
      }
    }
  }
}
